{% extends 'base/base.html' %}

{% block body_block %}
    <div class="container-fluid">
        <div class="row">
            <!-- Search form for authors -->
            <form class="d-flex col-md-4 offset-md-4" role="search" method="post">
                <input class="form-control me-2" type="search" placeholder="Search author" aria-label="Search" name="searchedauthor">
                <button class="btn btn-outline-success" type="submit">Search</button>
                {% csrf_token %}
            </form>
        </div>    
    </div>
    <br>
    <div class="center">
        {% if author_records %}
            <!-- Display a table of author records if there are any -->
            <table class="table border-dark table-hover background-table">
                <thead>
                    <th scope="col"><h5>Authors name</h5></th>
                    <th scope="col"><h5>The year of birth</h5></th>
                    <th scope="col"><h5>Nationality</h5></th>
                </thead>
                <tbody>
                {% for author in author_records %}
                    <tr>
                        <!-- Create links to author profiles -->
                        <td><b><a href="{% url 'base:author_profile' author.name %}">{{ author.name }}</a></b></td>
                        <td><b>{{ author.birth_year }}</b></td>
                        <td><b>{{ author.nationality }}</b></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
        <!-- Display a message if no authors are in the database -->
        <p>No authors are currently in the database</p>
        {% endif %}
    </div>
{% endblock %}
