{% extends 'base/base.html' %}

{% block body_block %}

{% load static %}

<div class="center ">
    <table class="table border-dark table-hover background-table">
        <div class="col-sm-6 col-md-8">
            <h4>{{author_info.name}}</h4>
            <small><cite>{{author_info.nationality}}</cite></small>
            <small>Birthday: <cite>{{author_info.birth_year}}</cite></small>
        </div>
    </table>
    <div style="max-height: 400px;overflow:auto;">
        The books that have been published by {{author_info.name}}
        <table  class="table border-dark table-hover background-table">
            <thead>
                <th>Title</th>
                <th>The year of publishing</th>
            </thead>
            <tbody>
                {% for book in book_info %}
                    <tr>
                        <td><a href="{% url 'base:book_profile' bookname=book.name %}">{{ book.name }}</a>

                        </td>
                        <td>{{book.year_published}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}