{% extends 'base/base.html' %}
{% block body_block %}
    <div class="center">
        {% if author_records %}
            <table class="table border-dark table-hover background-table">
                <thead>
                    <th scope="col"><h5>Authors name</h5></th>
                    <th scope="col"><h5>The year of the birth</h5></th>
                    <th scope="col"><h5>nationality</h5></th>
                </thead>
                <tbody>
                {% for author in author_records %}
                    <tr>
                        <td><b><a href="{% url 'base:author_profile' author.name %}">{{ author.name }}</a></b></td>
                        <td><b>{{ author.birth_year }}</b></td>
                        <td><b>{{ author.nationality }}</b></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
        <p>No authors are currently in the database</p>
        {% endif %}
    </div>

{% endblock %}