{% extends 'base/base.html' %}
{% block body_block %}

<div class="jumbotron book-display">
    <h1 class="fw-bolder mb-1">{{book_info.name}}</h1>
    <p class="text-secondary">by <a href="{% url 'base:author_profile' book_info.author %}" class="text-secondary">{{book_info.author}}</a></p>
    <p class="text-secondary">published: {{book_info.year_published}}</p>
    <br>
    {% if user.is_authenticated %}
        {% if loaned %}
            <p class="badge bg-secondary" style="--bs-text-opacity: .5;">Book saved in your library until: {{loans.loan_delete}}</p>
        {% else %}
            <p><a class="btn btn-danger" href="{% url 'base:loan_book' book_info.name book_info.loan_type %}" role="button">Save</a>
            {% if book_info.loan_type == 3 %}
                Can be saved for up to 2 days
            {% elif book_info.loan_type == 2 %}
                Can be saved for up to 5 days
            {% else %}
                Can be saved for up to 10 days
            {% endif %}</p>
        {% endif %}
    {% endif %}
    <h4><a href="#reviews">{{reviews_amount}} Reviews</a></h4>
    <div class="content-item" id="comments">
        <div class="book-display">   
            <div class="row">
                <div class="col-sm-8">   
                    <form action="{% url 'base:book_profile' book_info.name %}" method="POST">
                        {% csrf_token %}
                        <h3 class="pull-left">Enter a new review</h3>
                        
                        <fieldset>
                            <div class="row">

                                <div class="form-group col-xs-12 col-sm-9 col-lg-10">
                                    {{review_form.text_field}}
                                    <div class="row">
                                        <div class="col">
                                            <label class="radio-inline">
                                                rating: &nbsp;
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="1" required>
                                                    <label class="form-check-label" for="inlineRadio1">1</label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="2">
                                                    <label class="form-check-label" for="inlineRadio2">2</label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="3">
                                                    <label class="form-check-label" for="inlineRadio1">3</label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="4">
                                                    <label class="form-check-label" for="inlineRadio2">4</label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="5">
                                                    <label class="form-check-label" for="inlineRadio2">5</label>
                                                </div>
                                                
                                            </label>
                                        </div>

                                    </div>
                                </div>
                            </div>  	
                        </fieldset>
                        {% if user.is_authenticated %}
                            <button type="submit" class="btn btn-success">Submit</button>
                        {% else %}
                            <a class="btn btn-success" href="{% url 'base:user_login' %}">Submit</a>
                        {% endif %}
                    </form>
                    <h3>{{reviews_amount}} Reviews</h3>
                    
                    {% for text in reviews %}
                        <div class="media">
                            <div class="d-flex flex-row">
                                <div class="col">
                                    <div class="media-body">
                                        <h4 class="media-heading">{{text.user}}</h4>
                                        <div>⭐{{text.rating}}</div>
                                        <p>{{text.text_field}}</p>
                                        <ul class="list-unstyled list-inline media-detail pull-left">
                                            <li><i class="fa fa-calendar"></i>{{text.date}}</li>
                                        </ul>
                                    </div>
                                    <p>{{text.text_field}}</p>
                                    <ul class="list-unstyled list-inline media-detail pull-left">
                                        <li><i class="fa fa-calendar"></i>{{text.date}}</li>
                                    </ul>
                                    
                                </div>
                            </div>
                            {% if user.is_staff %}
                            <a href="{% url 'base:delete_review' text.id %}" class="btn btn-danger" style="height: 38px;">delete</a>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
