{% extends 'base/base.html' %}

{% block body_block %}
    <div class="center">
        {% if book_records %}
            <table class="table border-dark table-hover background-table">
                <thead>
                    <th scope="col"><h5>Name</h5></th>
                    <th scope="col"><h5>Author</h5></th>
                    <th scope="col"><h5>Year published</h5></th>
                </thead>
                <tbody>
                {% for book in book_records %}
                    <tr>
                        <td><b><a href="{% url 'base:book_profile' bookname=book.name %}">{{ book.name }}</a>

                        </b></td>
                        <td><b>{{ book.author }}</b></td>
                        <td><b>{{ book.year_published }}</b></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
        <p>No ebooks are currently in the database</p>
        {% endif %}
    </div>

{% endblock %}