{% extends "base/base.html" %}
{% block body_block %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 text-center">
                <header>
                    <h1 class="display-3">📚 LibraryPyBookManager 📚</h1>
                    <p class="lead text-primary">Discover a World of Books and Authors</p>
                </header>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <section class="book-section">
                    <h2 class="text-danger">📖 Explore Our Collection of Books 📖</h2>
                    {% if book_records %}
                        <ul class="book-list">
                            {% for book in book_records %}
                                <li class="book-item floating-book">
                                    <strong class="text-success">{{ book.name }}</strong>
                                    <p class="text-warning">by {{ book.author }}</p>
                                    <p class="text-info">Published: {{ book.year_published }}</p>
                                </li>
                            {% endfor %}
                        </ul>
                    {% else %}
                    <p class="text-danger">No ebooks are currently in the database</p>
                    {% endif %}
                </section>
            </div>
            <div class="col-md-6">
                <section class="author-section">
                    <h2 class="text-success">🖋️ Meet Our Quirky Authors 🖋️</h2>
                    {% if author_records %}
                        <ul class="author-list">
                            {% for author in author_records %}
                                <li class="author-item">
                                    <strong class="text-warning">{{ author.name }}</strong>
                                    <p class="text-danger">Born: {{ author.birth_year }}</p>
                                    <p class="text-primary">Nationality: {{ author.nationality }}</p>
                                </li>
                            {% endfor %}
                        </ul>
                    {% else %}
                    <p class="text-danger">No authors are currently in the database</p>
                    {% endif %}
                </section>
            </div>
        </div>
    </div>
{% endblock %}
